*{
    margin: 0;
    padding: 0;
}

#main-wrapper{
    width: 1200px;
    margin: 0 auto; 
}

#div-header-contact{
    color: white;
    background-color: grey;
    padding: 20px;
    font-size: 12px;
}

#header-nav-bar{   
    font-family:'Open Sans', sans-serif;
    font-size: 14px;   
}

#logo{ 
    float: left;
    width: 20%;
}

#logo img{
    float: right;
}

#navbar-buttons ul:first-child{
    position: relative;
    margin-left: 30%;
}

#navbar-buttons li{
    display: inline-block;
    list-style: none;
    position: relative;
    padding:5px 8px 5px 8px;
    margin: 2%;
    font-weight: 600; 
}


#navbar-buttons ul li:first-child a{
    display: block;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

#navbar-buttons ul li a:hover{
    display: block;
    background-color: grey;
    color: white;
    border-radius: 5px; 
}

#navbar-buttons ul li:first-child a:hover{
    background-color: orangered;
}

#navbar-buttons li a{
    text-decoration: none;
    color: black;
    padding: 5px 8px 5px 8px;
    width: 100%;
    text-align: center;   
}

#navbar-buttons{
    float: left;
    width: 80%;
    margin-bottom: 0px;    
}

#navbar-buttons ul li ul{
    position: absolute;
    background-color: grey;
    color: white;
    width: 100%;
    margin-top: 20px;
    display: none;  
}

#navbar-buttons ul li ul li{
  
   width: 100%;   
    padding: 2px; 
}

#navbar-buttons ul li ul li:hover{
  
    background-color: orangered;
    opacity: 0.5;
    width: 90%;   
 }

 #navbar-buttons ul li:hover ul{
    display: block; 
}


#slider{
    display: block;
    background: url(images/slider-background.jpeg) no-repeat right;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    border-top:1px solid grey;  
}

#slider-left-side{
    float: left;
    width: 50%;
    padding: 150px 0 0 100px;
    color: black;
}

#slider-left-side h1{
    display: inline-block;
    margin-left: 10px; 
}

#slider-left-side #orange{
    color: orangered;  
}

#slider-right-side{
    float: right;
    width: 40%; 
}

#slider-right-side img{
    padding: 40px 0 40px 60px;
    width: 40%;
}

#slider-left-side ul li{
    list-style: none;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
}

#slider-left-side ul li a{
    text-decoration: none;
    text-align: center;
    background-color: green;
    color: white;
    font-size: 28px;
    border-radius: 5px;
    font-weight: 1000;
    padding: 5px 10px 5px 10px ;
}

#slider-left-side ul li:last-child a{
    background-color: orangered;
}

#features{
    margin: 10px 0 20px 0;
}

#features-text{
    width: 75%;
    float: right;
}

#features-text h2{
    margin-bottom: 20px;
    font-weight: bold;
}

#features-text h2 span{
    color: black;
    font-weight: 400;
}

#features-text p{
    margin-bottom: 10px;
    font-size: 12px;
}

#features-text a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


#ball{
    background-color: orangered;
    border-radius: 50px;
    width: 15%;
    height: 50px;
    float: left;
    margin-top: 2%;
}

#col-3{
    display: inline-block;
    width: 30%;
    margin-left: 2%;
}

#our-pricing{
    margin-bottom: 40px;
}


#our-pricing h1{
   margin: 40px 0 10px 0;
    font-weight: lighter;
    text-align: center;
}

#our-pricing h1 span{
    font-weight: 900;
}

#our-pricing p{
    text-align: center;
}

#col-4{
 width: 22%;
 display: inline-block;
 margin-left: 2%;
 
}

#choice{
    padding: 40px 10px;
    background-color: black;
    color: white;
}

#choice h2{
    font-weight: lighter;
    text-align: center;
}
#choice h2 span{
    font-weight: 900;
}

#price{
    background-color: grey;
    color: white;
}

#price p{
    padding: 20px ;
    text-align: center;
}

#options{
    border-right: 1px solid black;
}

#options ul li{
    list-style: none;
    border-bottom: 1px solid black;
    padding: 10px 35%;
    text-align: center;
}

#options ul li:before{
    content: '✓';
}

#signup{
    
    background-color: grey;
    padding: 10%;
    text-align: center;
}

#signup a{
    padding: 8px 5px 8px 5px ;
    background-color: orangered;
    border-radius: 10px;
    text-decoration: none;
    color: white;  
}

#comment-slider{
    text-align: center;
    margin: 60px 0;   
}

#saying{
    text-align: center;
}

#saying h1{
    font-weight: lighter;
}

#saying span{
    font-weight: 900;
}

#sest-tekst-devet{
    margin: 20px 0;
}

#sest-tekst-devet{
    width:100%;
    text-align:center;
    
}

#devetdevet{
    margin-top: -10px;
    width: 25%;
    float: left;
}

#navodnici-tekst{
    width: 50%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

#sestsest{
    width: 25%;
    float: right;
}

#roundpicture{
    text-align: center;
}

#roundpicture img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#name{
    margin: 10px 0;
    font-weight: lighter;
}

#recent-works{
    background-color: floralwhite;
    padding-bottom: 50px;
}

#works-title{
    padding: 40px 0 10px 2%;
    
    
}

#works-title h1{
    font-weight: lighter;
}

#works-title h1 span{
    font-weight: bold;
}

#works-images ul li{
    display: inline-block;
    list-style: none;
    position: relative;
    width: 20%;
    margin: 0 2%;
    
}



#works-images ul li img{
    width: 100%;
    height: 200px;
   
}


#browse{
    background-color: #333333;
    color: white;
   padding: 60px 40px;
    
}

.col-3-footer{
   
    width: 29%;
    margin-left: 2%;
    display: inline-block;
   vertical-align: top;
}

.col-3-footer h2{
    margin-bottom: 20px;
}

.col-3-footer li{
    list-style: none;
    padding-bottom: 10px;
}

.col-3-footer li a{
    text-decoration: none;
    color: white;
}

.col-3-footer address {
    margin-bottom: 20px;
}


.col-3-footer p{
    margin-bottom: 10px;
}

.col-3-footer span a{
    background-color: orangered;
    text-decoration: none;
    color: white;
    padding: 1px 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#sub-footer{
    background-color: black;
    color: white;
    padding: 40px;
}

#copyright{
    width: 45%;
    float: left;
    
   
}

#designedby{
    width: 45%;
    float: right;
    
}

#designedby p{
    float: right;
}