*{
    margin: 0px;
    padding: 0px;
}


#form-wrapper{
    width: 300px;
    margin: 100px auto;
}

#form-wrapper span{
    background-color: darkgrey;
    padding: 15px 30px 15px 20px;
    margin-top: 1px;
    display: block;
    text-align: right;
    color: dodgerblue;
    font-weight: 300;

}

#form-wrapper span:last-child{
    background-color: white;
}

#form-wrapper input,textarea{display: block;
      width: 70%;
      float: right;
      
}

textarea{
    max-width: 180px;
}

#form-wrapper p{
    width: 20%;
    float: left;
}

#form-wrapper input[type=button]{
    width: 30%;
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}