*{
    margin: 0;
    padding: 0;
}

body{
    width: 1200px;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    text-transform: uppercase;
    font-size: 22px;
  
    
}
#icon{
    width: 10%;
    float: left;
    padding: 10px 20px;
    
    
}

#nav-bar{
    width: 80%;
    float: right;
    font-size: 18px;
    
}

ul {
    list-style-type: none;
    float: right;
    
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 14px 50px;
  }

  li a:hover{
      color: white;
      background-color: lightskyblue;
      
  }

  #about{
      background-image: url(images/bg-iamges.jpg);
      color: white;
      margin-bottom: 1%;
  }

  #about h1{
      text-transform: uppercase;
      text-align: center;
      padding: 10% 26% 5% 26%;
      font-size: 50px;
      letter-spacing: 3px;
  }

  #about p{
      font-size: 18px;
      text-align: center;
      padding: 0% 26% 10% 26%;
      line-height: 30px;
  }



  #post-picture{
    width: 50%;
    padding: 3% 0% 0% 3%;
    
    float: left;
  }

  #aside{
      width: 40%;
      float: right;
      padding-top: 3%;
      margin-bottom: 10%;
      
  }

  #aside #post-title{
    padding-top: 2%;
    
  }
  
  #aside #text-area-one{
      
    padding-top: 2%;
  }

  #aside #text-area-two{
    
    padding-top: 20%;
    margin-bottom: 2%;
}

#aside #date-author{
    border-top: solid grey 1px;
    font-size: 18px;
    padding-top: 5%;
}

#date-author #date{
    float: left;
}

#date-author #author{
    float: right;
}


#service-list li {
	float: left;
	width: 20%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 70px;
}
#service-list img {
	width: 100%;
}
#service-list li h3 {
	font-size: 25px;
	line-height: normal;
	padding: 20px 0px;
}
#service-list li p {
	background-color: #ffffff;
	font-size: 15px;
	line-height: 20px;
	color: #414141;
	text-align: justify;
	border-top: 1px solid #d9d9d9;
	padding: 10px 0px;
}
#service-list ul li:last-child {
	margin-right: 0;
}




#footer-wrap{
	background-color: black;
	padding: 2% 0;
	font-size: 14px;
}
#footer-col-1{
	float: left;
    width: 80%;
}
#footer-col-1 ul li {
    float: left;
}

#footer-col-1 ul{
    float: left;
}
#footer-col-1 li a {
	color: #FFFFFF;
	text-decoration: none;
    
   
	
}
#footer-col-2{
    float: left;
    width: 15%;
}
#footer-col-2 a{
	color: #FFFFFF;
    margin-right: 10%;
    padding-top: 6%;
    float: right;
}

.flexslider{
  padding:  50px 0px 90px -190px;
}






















