@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/geometria-light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/geometria-medium.ttf);
    font-weight: 500;
}
body, ul, li, p, h1, h2, h3, h4 {
			margin: 0;
			padding: 0;
}
ul li {
	list-style-type: none;
}
body {
	font-family: 'Geometria',sans-serif;
	font-size: 15px;
	line-height: 19px;
}
#div-main-wrap {
	width: 1200px;
	margin: 0 auto;
}
#div-header {
	font-size: 15px;
}
#div-header-logo {
	width: 39%;
	float: left;
}
#div-header-logo h2 a {
	text-decoration: none;
	color: #333333;
	padding: 23px 37.1px;
	display: block;
}
#div-header-menu {
	width: 61%;
	float: right;
}
#div-header-menu ul li {
	float: left;
}
#div-header-menu li a {
	color: #333333;
	text-decoration: none;
	padding: 23px 37.6px;
	display: block;
}
#div-header-menu li a:hover {
	background-color: #40c4ff;
	color: #FFFFFF;
}
#div-header-menu li.li-current a {
	background-color: #40c4ff;
	color: #FFFFFF;
}
#div-headline {
	margin-bottom: 40px;
	background-image: url("images/bg-images.jpg");
	display: block;
	padding: 150px 330px;
	background-size: 100%;
}
#div-headline h1 {
	text-align: center;
	color: #ffffff;
	font-size: 45px;
}
#div-headline p {
	text-align: center;
	color: #ffffff;
	margin-top: 30px;
	line-height: 2;
}
#div-service {
	margin-bottom: 30px;
}
#div-service-headline {
	margin-bottom: 70px;
	margin-top:5px;
}
#div-service-headline li {
	float: left;
	width: 45%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
#div-service-headline img {
	width: 100%;
}
#div-service-headline li h1 {
	font-size: 40px;
	line-height: normal;
	padding: 15px 0px;
}
#div-service-headline li p {
	background-color: #ffffff;
	font-size: 15px;
	line-height: 20px;
	color: #414141;
	text-align: justify;
	padding: 15px 0px;
}
#div-service-headline-textbox {
	border-top: 1px solid #d9d9d9;
	padding-top: 5px;
}
.col-1 {
	float: left;
}
.col-2 {
	float: right;
}
#div-service-list {
	margin-top: 20px;
	}
#div-service-list li {
	float: left;
	width: 20%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 70px;
}
#div-service-list img {
	width: 100%;
}
#div-service-list li h3 {
	font-size: 25px;
	line-height: normal;
	padding: 20px 0px;
}
#div-service-list li p {
	background-color: #ffffff;
	font-size: 15px;
	line-height: 20px;
	color: #414141;
	text-align: justify;
	border-top: 1px solid #d9d9d9;
	padding: 10px 0px;
}
#div-service-list ul li:last-child {
	margin-right: 0;
}
#div-footer{
	background-color: #000000;
	padding: 40px;
	font-size: 14px;
}
#div-footer-col-1{
	float: left;
	padding-left: 5px;
}
#div-footer-col-1 ul li {
	float: left;
}
#div-footer-col-1 li a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	margin-right: 40px;
}
#div-footer-col-2{
	float: right;
}
#div-footer-col-2 p a{
	color: #FFFFFF;
	margin-right: 30px;
}




